
@{
    ViewData["Title"] = "Erro";
    Layout = "~/Pages/_Layout.cshtml";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Seu email ou senha podem estar incorretos</h2>
<a href="Principal">Voltar</a>